<form action=" <%= '/events/sports' %>">
    <div class="input-group">
      <input
        class="form-control"
        type="text"
        name="eventsBySportQuery"
        placeholder="Search"
        value="<%= eventsBySportQuery %>"
      />
      <button type="submit" class="btn-primary btn">Show Events By Sport Type</button>
    </div>
  </form>