<h2>Create an Athlete</h2>
<form action="/createAthlete" method="POST">
  <div>
    <label class="form-label">
      Game Year:
      <input class="form-control" type="text" name="year" />
    </label>
    <label class="form-label">
      Game Season:
      <input class="form-control" type="text" name="season" />
    </label>
  </div>
  <div>
    <label class="form-label">
      Team (Country):
      <input class="form-control" type="text" name="country" />
    </label>
  </div>
  <div>
    <label class="form-label">
      Athlete Name: 
      <input class="form-control" type="text" name="name" />
    </label>
    <label class="form-label">
      Sex:
      <input class="form-control" type="text" name="sex" />
    </label>
    <label class="form-label">
      Age:
      <input class="form-control" type="text" name="age" />
    </label>
    <label class="form-label">
      Height:
      <input class="form-control" type="text" name="height" />
    </label>
    <label class="form-label">
      Weight:
      <input class="form-control" type="text" name="weight" />
    </label>
    <!-- <label class="form-label">
      Medal:
      <input class="form-control" type="text" name="medal" />
    </label> -->
  </div>

  <button class="btn btn-primary" type="submit">Create</button>
</form>